/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleHeader {
  font-size: 1.8rem;
  font-weight: 600;
  --text-shadow1w: #f8f6f6;
  --text-shadow2: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 0.5px var(--text-shadow1w),
    1.25px 1.25px 1px var(--text-shadow1w),
    1.5px 1.5px 1.5px var(--text-shadow1w),
    1.75px 1.75px 1.75px var(--text-shadow2), 2px 2px 2px var(--titleColor),
    2.25px 2.25px 2.25px var(--text-shadow2),
    2.5px 2.5px 2.5px var(--titleColor);
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.divCount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.divCount > div {
  width: 100%;
  height: 100px;
}
/* COUNTER */

.hide {
  display: none;
}

.show {
  display: flex;
}

.red {
  color: red;
}

.green {
  color: green;
}

.red,
.green {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2rem;
}

main > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
}
.boxCounters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.container > p {
  width: 25px;
}

div > button {
  width: 30px;
  height: 30px;
  background-color: #5c47d3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0.25px 0.25px 1px rgba(0, 0, 0, 0.7),
    0.5px 0.5px 1.25px rgba(0, 0, 0, 0.7), 1px 1px 1.5px rgba(0, 0, 0, 0.7),
    1.25px 1.25px 2px rgba(0, 0, 0, 0.7);
  border: none;
  box-shadow: inset 0px 0px 20px #17057a, 1px 1px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.btnFakeHide {
  width: 30px;
  height: 30px;
}
.addSuppCounter {
  margin-top: 20px;
  margin-bottom: 20px;
}
.suppACounter > button,
.addACount > button {
  width: 120px;
  height: 65px;
  color: white;
}
.addACountFake,
.suppACounterFake {
  width: 120px;
  height: 65px;
}
button:active {
  background-color: rgb(92, 71, 211, 0.7);
  box-shadow: inset 0px 0px 20px #17057a, inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.main {
  height: 50vh;
}
footer {
  width: 100%;
  min-height: 60px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 1px #000, 0.25px 0.25px 1px #000, 0.5px 0.5px 1px #000;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btnReset {
  font-size: 15px;
  width: 50px;
  height: 30px;
}
.btnReset button {
  padding: 5px 20px 5px 20px;
}
.total {
  color: #5c47d3;
  font-size: 24px;
  font-weight: 700;
}
/* BREAKPOINTS */

/* @media all and (min-width : 576px) {} */

/* @media all and (min-width : 768px) {} */

@media all and (min-width: 992px) {
  .main {
    flex-direction: row !important;
  }
}

/* @media all and (min-width : 1200px) {} */

/* @media all and (min-width : 1400px) {} */
